<script type="text/javascript">
    brite.registerComponent("ContactList", {
                parent: ".iPadContactsListLeft"
            },
            function(){
                return new contactApp.ContactList();
            });
</script>
<script id="tmpl-ContactList" type="text/html">
        <div class="iPadContactsListHeader">
            <h3>Contacts</h3>

            <div class="new arrow">New</div>
            <div class="delete arrow">Delete</div>
        </div>
        <div class="iPadContactsList">
            <div id="CreateContact" style="display: none"></div>
            <div class="DataList"></div>

        </div>
</script>

<script id="tmpl-CreateContact" type="text/html">
        <label>Name:</label>
        <input type="text" name="name"/>
        <button class="button save" value="save">save</button>
</script>

<script id="tmpl-EditContact" type="text/html">
        <input type="text" name="name"/>
        <button class="button save" >save</button>
        <button class="button cancel">Cancel</button>
</script>

<script id="tmpl-ContactList-Part" type="text/html">
    <ul>
        {{if contacts.length > 0}}
        {{each contacts }}
        <li data-obj_type="Contact" data-obj_id="${id}" data-obj_name="${name}">${name}<span class="star"></span></li>
        {{/each}}
        {{/if}}
    </ul>
</script>
