<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <link type="text/css" rel="stylesheet" href="../css/iPadContacts.css"/>
    <script type="text/javascript" src="../js/iPadContacts.js"></script>

    <title>iPadContacts</title>
</head>
<body>
<div class="workspace">
    <div class="iPadContactsListLeft">
        <div class="iPadContactsListHeader">
            <h3>Contacts</h3>
            <div class="new arrow">New</div>
            <div class="delete arrow">Delete</div>
        </div>
        <div class="iPadContactsList">
            <ul>
                <li><span class="photo"><Img src="../images/face.png"></span>label<span class="star on"></span></li>
                <li><span class="photo"><Img src="../images/face.png"></span>label<span class="star"></span></li>
                <li><span class="photo"><Img src="../images/face.png"></span>label<span class="star"></span></li>
                <li><span class="photo"><Img src="../images/face.png"></span>label<span class="star"></span></li>
                <li><span class="photo"><Img src="../images/face.png"></span>label<span class="star"></span></li>
                <li><span class="photo"><Img src="../images/face.png"></span>label<span class="star"></span></li>
                <li><span class="photo"><Img src="../images/face.png"></span>label<span class="star"></span></li>
                <li><span class="photo"><Img src="../images/face.png"></span>label<span class="star"></span></li>
                <li><span class="photo"><Img src="../images/face.png"></span>label<span class="star"></span></li>
                <li><span class="photo"><Img src="../images/face.png"></span>label<span class="star"></span></li>
                <li class="on"><span class="photo"><Img src="../images/face.png"></span>label<span
                        class="star on"></span></li>
                <li><span class="photo"><Img src="../images/face.png"></span>label<span class="star"></span></li>
                <li><span class="photo"><Img src="../images/face.png"></span>label<span class="star"></span></li>
                <li><span class="photo"><Img src="../images/face.png"></span>label<span class="star"></span></li>
                <li><span class="photo"><Img src="../images/face.png"></span>label<span class="star"></span></li>
                <li><span class="photo"><Img src="../images/face.png"></span>label<span class="star"></span></li>
                <li><span class="photo"><Img src="../images/face.png"></span>label<span class="star"></span></li>
                <li><span class="photo"><Img src="../images/face.png"></span>label<span class="star"></span></li>
                <li><span class="photo"><Img src="../images/face.png"></span>label<span class="star"></span></li>
                <li><span class="photo"><Img src="../images/face.png"></span>label<span class="star"></span></li>
                <li class="on"><span class="photo"><Img src="../images/face.png"></span>label<span
                        class="star on"></span></li>
                <li><span class="photo"><Img src="../images/face.png"></span>label<span class="star"></span></li>
                <li><span class="photo"><Img src="../images/face.png"></span>label<span class="star"></span></li>
                <li><span class="photo"><Img src="../images/face.png"></span>label<span class="star"></span></li>
                <li><span class="photo"><Img src="../images/face.png"></span>label<span class="star"></span></li>
                <li><span class="photo"><Img src="../images/face.png"></span>label<span class="star"></span></li>
                <li><span class="photo"><Img src="../images/face.png"></span>label<span class="star"></span></li>
                <li><span class="photo"><Img src="../images/face.png"></span>label<span class="star"></span></li>
                <li><span class="photo"><Img src="../images/face.png"></span>label<span class="star"></span></li>
                <li><span class="photo"><Img src="../images/face.png"></span>label<span class="star"></span></li>
            </ul>
        </div>
    </div>
    <div class="iPadContactsRight">
        <div class="iPadContactsListHeader">Content</div>
    </div>
</div>
</body>
</html>
